{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Static NOTIFY Target</h2>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">Address</th>
          <td>{{ object.address }}</td>
        </tr>
        <tr>
          <th scope="row">Port</th>
          <td>{{ object.port }}</td>
        </tr>
        <tr>
          <th scope="row">View</th>
          <td>{% if object.view %}{{ object.view|linkify }}{% else %}<span class="text-muted">All views</span>{% endif %}</td>
        </tr>
        <tr>
          <th scope="row">Enabled</th>
          <td>{% checkmark object.enabled %}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
